SistemaBibliotecario1/biblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" type="xs:string"></xs:element>
                <xs:element name="sede" type="xs:string"></xs:element>
                <xs:element name="fondazione" type="xs:date"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>